/*
 * TODO
 * party mode
 * font
 */

body, html{
	margin: 0;
	padding: 0;
	background: #111;
	color: #eee;
	font-family: 'Helvetica Neue', sans-serif;
}
a:active{
	outline: none;
}
::-moz-selection{
	background: #eee;
	color: #111;
}
::selection{
	background: #eee;
	color: #111;
}

header{
	margin-top: 50px;
}
.logo{
	margin: 0 auto;
	display: block;
}
header h1{
	text-align: center;
	font-size: 50pt;
	text-shadow: 0 0 15px #000;
	margin-bottom: 10px;
}
.follow-us{
	opacity: 0.75;
	text-align: center;
	margin-bottom: 50px;
	font-size: 0.9em;
}
.follow-us a:link, .follow-us a:visited{
	text-decoration: none;
	color: inherit;
}
img.twitter-icon{
	width: 16px;
	height: 13px;
	vertical-align: middle;
	opacity: 0.75;
}
.follow-us:hover, .follow-us:hover .twitter-icon{
	opacity: 1.0;
}
.twitter-account{
	color: #fff;
}


.wrapper{
	margin: 0 auto;
	width: 800px;
}

.we{
	height: 180px;
}
.person{
	display: inline-block;
	float: left;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}
.person a{
	outline: none;
}
.avatar{
	width: 94px;
	height: 94px;
	border-radius: 100%;
	border: 3px solid #eee;
	box-shadow: 0 0 10px 5px rgba(0,0,0,1);
	margin-bottom: 5px;
    -webkit-transition: -webkit-transform 0.1s ease-in-out, opacity 0.25s ease-in-out;
            transition:         transform 0.1s ease-in-out, opacity 0.25s ease-in-out;
	opacity: 0.5;
}
.person:hover .avatar{
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
	opacity: 1.0;
    -webkit-transition: -webkit-transform 0.1s ease-in-out, opacity 0.25s ease-in-out;
            transition:         transform 0.1s ease-in-out, opacity 0.25s ease-in-out;
}
.person:hover .nick, .person:hover .profession{
	opacity: 1.0;
    transition: opacity 0.25s ease-in-out;
}
.person:hover .profession{
	opacity: 0.75;
}
.person a:link, .person a:visited{
	text-decoration: none;
	color: inherit;
}
.nick, .profession{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
	opacity: 0.5;
    transition: opacity 0.25s ease-in-out;
}
.nick{
	font-weight: bold;
	font-size: 1.1em;
}
.profession{
	font-style: italic;
	font-size: 0.9em;
	opacity: 0.25;
}

.content{}
.demo{
	display: block;
}
.demo .title{
	font-weight: 100;
	font-size: 2em;
    -webkit-transition: opacity 0.25s ease-in-out;
            transition: opacity 0.25s ease-in-out;
	opacity: 0.0;
}
.demo .title a,
.demo .title a:active,
.demo .title a:visited{
	color: #eee;
	text-decoration: none;
}
.demo .title a:hover:before{
	margin-left: -1.15em;
	content: "# ";
}
.demo:hover .title{
    -webkit-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
	opacity: 1.0;
}
.demo .title .year{
	float: right;
	font-size: 0.5em;
	padding-top: 15px;
}
.demo:hover .screenshot{
    -webkit-transition: margin-top 0.25s ease-in-out, opacity 0.25s ease-in-out;
            transition: margin-top 0.25s ease-in-out, opacity 0.25s ease-in-out;
	margin-top: -30px;
	opacity: 1.0;
}
.screenshot{
	border-radius: 5px;
	border-top: 1px solid rgba(255,255,255,0.25);
	margin-bottom: 0px;
	box-shadow: 0 0 10px 5px rgba(0,0,0,1);
	height: 400px;
	width: 800px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 10;
	margin-top: -70px;
    -webkit-transition: margin-top 0.25s ease-in-out, opacity 0.25s ease-in-out;
            transition: margin-top 0.25s ease-in-out, opacity 0.25s ease-in-out;
	opacity: 0.5;
}
.toolbar{
	background: #333;
	display: inline-block;
	list-style: none;
	width: 100%;
	height: 50px;
	padding: 20px 15px 10px 15px;
	box-sizing: border-box;
	-webkit-border-radius: 0 0 5px 5px;
	        border-radius: 0 0 5px 5px;
	margin-top: -100px;
    -webkit-transition: margin-top 0.25s ease-in-out, opacity 0.25s ease-in-out;
            transition: margin-top 0.25s ease-in-out, opacity 0.25s ease-in-out;
	opacity: 0.0;
}
.demo:hover .toolbar{
	margin-top: -10px;
	box-shadow: 0 0 10px 5px rgba(0,0,0,1);
    -webkit-transition: margin-top 0.25s ease-in-out, opacity 0.5s ease-in-out;
            transition: margin-top 0.25s ease-in-out, opacity 0.5s ease-in-out;
	opacity: 1.0;
}
.toolbar li.right{
	float: right;
	margin-right: 10px;
	margin-left: 5px;
}
.toolbar li.left{
	float: left;
	margin-left: 10px;
	margin-right: 5px;
}
.toolbar a:link, .toolbar a:visited{
	text-decoration: none;
	color: inherit;
}
.toolbar a:hover{
	text-decoration: underline;
}



footer{
	opacity: 0.25;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 0.8em;
	clear: both;
}
footer p{
	margin: 5px;
	padding: 0px;	
}
footer a:link, footer a:visited{
	color: inherit;
	text-decoration: none;
}
footer a:hover{
	text-decoration: underline;
}


@media screen and (max-width: 799px){
	header h1{
		font-size: 40pt;
	}

	.we{
		height: 150px;
		width: 500px;
		margin: 0 auto;
	}
	.person{
		width: 70px;
		margin-left: 25px;
		margin-right: 25px;
	}
	.avatar, .person:hover .avatar{
		width: 64px;
		height: 64px;
		-webkit-transform: scale(1.0);
				transform: scale(1.0);
		opacity: 1.0;
	}
	.nick, .person:hover .nick{
		opacity: 1.0;
	}
	.profession, .person:hover .profession{
		opacity: 0.75;
	}

	.wrapper{
		width: 95%;
	}

	.demo .title{
		opacity: 1.0;
		font-size: 1.8em;
	}
	.screenshot, .demo:hover .screenshot{
		width: 100%;
		height: 350px;
		margin-top: -20px; 
		opacity: 1.0;
	}
	.toolbar, .demo:hover .toolbar{
		opacity: 1.0;
		margin-top: -10px;
		box-shadow: 0 0 10px 5px rgba(0,0,0,1);
	}
}
@media screen and (max-width: 499px){
	.screenshot, .demo:hover .screenshot{
		height: 200px;
	}

	.we{
		height: 300px;
		width: 300px;
		margin: 0 auto;
	}
	.person{
		width: 100px;
		margin-left: 25px;
		margin-right: 25px;
		margin-bottom: 25px;
	}
}

