RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

AuthType Basic
AuthName "rtficial hinterzimmer"
AuthUserFile /var/www/virtual/ps0ke/hinterzimmer.rtficial.org/.htpasswd
Require valid-user
