AuthType Basic
AuthName "rtificial Hinterzimmer"
AuthUserFile /var/www/virtual/ps0ke/hinterzimmer.rtificial.org/.htpasswd
Require valid-user
SetEnvIf Request_URI "(db-irc-notify.cgi)$" allow
Order allow,deny
Allow from env=allow
Satisfy any
