@font-face {
	font-family: 'Cambay';
	src: url('cambay-regular.woff2') format('woff2') ,   /* Super Modern Browsers  */
	     url('cambay-regular.woff')  format('woff'),     /* Pretty Modern Browsers */
	     url('cambay-regular.ttf')   format('truetype'); /* Safari, Android, iOS   */
}

@font-face {
	font-family: 'Cambay';
	font-style: italic;
	src: url('cambay-italic.woff2') format('woff2'),    /* Super Modern Browsers  */
	     url('cambay-italic.woff')  format('woff'),     /* Pretty Modern Browsers */
	     url('cambay-italic.ttf')   format('truetype'); /* Safari, Android, iOS   */
}

@font-face {
	font-family: 'Cambay';
	font-weight: bold;
	src: url('cambay-bold.woff2') format('woff2'),    /* Super Modern Browsers  */
	     url('cambay-bold.woff')  format('woff'),     /* Pretty Modern Browsers */
	     url('cambay-bold.ttf')   format('truetype'); /* Safari, Android, iOS   */
}

@font-face {
	font-family: 'Cambay';
	font-style: italic;
	font-weight: bold;
	src: url('cambay-bold-italic.woff2') format('woff2'),    /* Super Modern Browsers  */
	     url('cambay-bold-italic.woff')  format('woff'),     /* Pretty Modern Browsers */
	     url('cambay-bold-italic.ttf')   format('truetype'); /* Safari, Android, iOS   */
}
